transformers
datasets
accelerate
huggingface_hub
torch
torchvision
torchaudio
tensorflow-macos==2.16.1
tensorflow-metal==1.1.0
tensorflow-hub==0.16.1
ml-dtypes==0.3.2
numpy==1.26.4
librosa
soundfile
ultralytics
opencv-python==4.10.0.84
llama-cpp-python
fastapi
uvicorn